<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite  name="mWallet Suite"  >
    <!--<listeners>-->
        <!--<listener class-name="org.uncommons.reportng.HTMLReporter" />-->
        <!--<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />-->
    <!--</listeners>-->
    <test name="Back Office User Functionality" >
        <parameter name="browser" value="Chrome"/>
    <groups>
        <run>
            <include name="MyProfile"/>
            <!--<include name="Transactions"/>-->
            <include name="Merchants"/>
            <include name="AdminTransfer"/>
            <include name="AdminReverse"/>
            <include name="ManageRetirement"/>

        </run>
    </groups>
    <classes>
        <class name="Tests.Smoke.Myprofilehelp.TestMyProfile"/>
        <!--<class name="Tests.Smoke.Transactions.TestTransactions"/>-->
        <!--<class name="Tests.Smoke.Merchants.TestMerchantCreation"/>-->
        <class name="Tests.Smoke.EmoneyManagement.TestAdminTransfer"/>
        <class name="Tests.Smoke.EmoneyManagement.TestAdminReverse"/>
        <class name="Tests.Smoke.EmoneyManagement.TestManualRetirement"/>
        </classes>
    </test>

</suite>